pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
test2junit
Dockerfile.old
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.idea
*.iml
**/*.DS_Store
/dev-resources